{% extends 'base.html' %}

{% block content %}
<style>
  p{
    text-align: justify;
  }
</style>
<!-- Breadcrumbs-->
<section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(/media/images/bg-breadcrumbs-02-1920x480.jpg);">
    <div class="container">
      <h2 class="breadcrumbs-custom-title">About</h2>
    </div>
    <ul class="breadcrumbs-custom-path">
      <li><a href="/">Home</a></li>
      <li class="active">About</li>
    </ul>
  </section>
  <section class="section section-lg bg-default">
    <div class="container">
      <div class="row row-50 flex-md-row-reverse">
        <div class="col-md-6 text-center">
          <div class="box-image-1"><img src="/media/images/bio-01-468x553.jpg" alt="" width="468" height="276"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-about">
            <div class="box-about-title-wrap">
              <h6 class="box-about-mega-title">mcharo</h6>
              <h2 class="box-about-title">about us</h2>
            </div>
            <h4 class="box-about-post-title">How it All Began</h4>
            <p>MCHARO ENTERTAINMENT COMPANY LIMITED is the Limited Liability Company legally 
              incorporated in Tanzania under Companies Act, 2002 and given Number 129804 in the index of 
              Registration.</p>
            <p>We are Rental/Hire Public Address System Company based in providing Effective & Quality Sound 
              and Public Address Services to the Theatre, Mass Ceremonies, Corporate, and Events Management 
              Industries throughout the Geita Region. We provide a comprehensive selection of audio and sound 
              equipment to suit the whole entertainment spectrum. Mcharo Entertainment Company Limited
              prides itself on a highly skilled and friendly team to support your needs to suit the whole 
              entertainment spectrum.</p>
              <p>We aim to provide the latest quality Public Address & Sound System backed up with top level 
                technical support and industry specific expertise tailored to our customers’ needs, be it touring 
                theatre or live events. We are constantly investigating and investing in the latest technologies to 
                ensure we are providing our customers with the latest and most effective equipment. We also pride 
                ourselves on finding solutions for difficult situations related to Sound System & Amplification, and 
                offer a solution that is cost effective and reliable.</p>
                <p>A public address system (PA system) is an electronic sound amplification and distribution system 
                  with a microphone, amplifier and loudspeakers, used to allow a person to address a large public, for 
                  example for announcements of movements at large and noisy air and rail terminals or at a sports 
                  stadium. The term is also used for systems which may additionally have a mixing console, and 
                  amplifiers and loudspeakers suitable for music as well as speech, used to reinforce a sound source, 
                  such as recorded music or a person giving a speech or distributing the sound throughout a venue or 
                  building.</p>
              <a class="button button-primary" href="#">View My Albums</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-default">
    <div class="container">
      <div class="row">
        <div class="col-xl-8">
          <ul class="list-xl">

            <li>
              <h5>VISION</h5>
              <p>
                To be the leading Company in Public Address Services and General Entertainment 
                Industry in Geita Region through Quality maximization.</p>
            </li>
            <li>
              <h6>MISSION</h6>
              <p>
                To ensure all customers reach maximum satisfaction with our standard service at 
                reasonable costs and time consideration.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-default">
    <div class="container">
      <div class="row row-50">
        <div class="col-xl-8">
          <h3>Company Core Values</h3>
          
          <ul class="list-marked">
            <li>Flexible and constant service provision</li>
            <li>Time Consideration</li>
            <li>Extra service beyond customer's expectation</li>
            <li>Acceptance of advises</li>
            <li>Team work and hard work</li>
          </ul>
          
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg bg-default">
    <div class="container">
      <div class="row row-50">
        <div class="col-xl-8">
          <h3>our team</h3>
          
          <ul class="list-marked">
            <li>
              We always work as a team when it comes to the matter of service provision regardless 
              of the position of staff including Company Director</li>
            <li>All staffs are equally treated and self-disciplined and good conduct</li>
            <li>
              Mcharo Entertainment Company Limited has three experienced staffs particularly in 
              Public Address Services and Entertainment Industry</li>
            <ul class="list-marked">
              <li>DJ or Sound Engineer</li>
              <li>Assistant DJ or Sound Engineer</li>
              <li>Office Attendants who is also praying other role of The Driver
              </li>
            </ul>
          </ul>
          
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}